<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				{{ content }}
			</div>
		</div>
    {% for forms in page.header.form %}
		<div class="row">
			<form action="https://formspree.io/jklasecki@gmail.com" id="contact" method="POST" name="contact">
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-field">
							<div class="form-label">
								<label class="inline">{{ forms.namefield }} <span class="required">*</span></label>
							</div>
							<div class="form-data" data-grav-default="null" data-grav-disabled="true" data-grav-field="text">
								<div class="form-input-wrapper">
									<input autocomplete="on" class="form-control" name="name" placeholder="{{ forms.placeholdername }}" required="required" type="text" value="">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-field">
							<div class="form-label">
								<label class="inline">{{ forms.emailfield }} <span class="required">*</span></label>
							</div>
							<div class="form-data" data-grav-default="null" data-grav-disabled="true" data-grav-field="email">
								<div class="form-input-wrapper">
									<input class="form-control" name="_replyto" placeholder="{{ forms.placeholderemail }}" required="required" type="email" value="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-field">
							<div class="form-label">
								<label class="inline">{{ forms.messagefield }} <span class="required">*</span></label>
							</div>
							<div class="form-data" data-grav-default="null" data-grav-disabled="true" data-grav-field="textarea">
								<div class="form-textarea-wrapper">
									<textarea class="form-control" name="data[message]" placeholder="{{ forms.placeholdermsg }}" required="required"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="col-lg-12 text-center">
						<div class="form-group">
							<button class="btn btn-primary btn-lg" type="submit" value="Send">{{ forms.btn }}</button>
						</div>
					</div>
				</div>
			</form>
      {% endfor %}
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<span class="copyright">Copyright © JK-Design <script type="text/javascript"> document.write(new Date().getFullYear()); </script></span>
						</div>
					<div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
						<div class="col-md-4">
							<ul class="list-inline quicklinks">
								<li>
									<a href="https://www.scopeweb.nyc" target="_blank" noreferrer>Development by Scope Web</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</section>